.content {
    background: url('./assets/background-stars.svg') #070724 no-repeat fixed center;
    max-width: 1440px;
    font-family: 'Antonio', sans-serif;
}

.navbar {

}

.navbar .navbar-title-left {
    font-size: 28px;
}